# Local .terraform directories
.terraform*

# .tfstate files
terraform.tfstate
terraform.tfstate.*

# Crash log files
crash.log

# Most .tfvars files contain sensitive data
*.tfvars
*.tfvars.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore the ZIP that terraform will create from our lambda-code
lambda-code.zip
